@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #aa6550;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
    /* Largura zero para ocultar a barra de rolagem vertical */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    /* Espaçamento do cabeçalho */
    justify-content: space-around;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #aa6550;
    width: 100%;
}

#logo-karpos img {
    margin-left: auto;
    /* Espaçamento da esquerda */
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-link {
    text-decoration: none;
    color: #ffffff;
    /* Cor do texto do menu */
    margin: 0 49px;
    /* Espaçamento entre os itens do menu */
}

#botao-registrar {
    background-color: #b7a19a;
    border-radius: 10px;
    border-color: #b7a19a;
    color: #ffffff;
    border: none;
    width: 107px;
    height: 32px;
    cursor: pointer;
}

#botao-login {
    background-color: #b7a19a;
    border-color: #b7a19a;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    width: 107px;
    height: 32px;
    cursor: pointer;
}

#entrar {
    text-decoration: none;
    color: #ffffff;
}

#registro {
    text-decoration: none;
    color: #ffffff;
}

.container1 {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 250px;
}

.titulo1 {
    color: #aa6550;
    margin-top:9.5%;
    margin-left: 5%;
}

.container2 {
    display: flex;
    margin-top: 5%;
    margin-left: 12%;
    height: 10px;
    color: #FFF;
}


.containerDuvidas {
    width: 100%;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 80%;
    margin-top: 20%;
    max-height: 600px;
}

details {
    padding: 2%;
}

section details summary {
    cursor: pointer;
    background-color: #FFF;
    padding: 2%;
    color: #000;
    font-weight: 600;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
}

section details p {
    height: 100px;
    background-color: #FFF;
    color: #000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
}
