@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* Aplicando a fonte Inter */
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #fff2ef;
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
    width: 100%;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    width: 0; /* Largura zero para ocultar a barra de rolagem vertical */
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #151718;
    height: 100vh;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 11%;
}

#user_infos {
    display: flex;
    flex-direction: column;
    color: white;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #AA6550;
}

.active {
    background-color: #AA6550;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: white;
    margin-left: 18%;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #AA6550;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.fade {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#section_areaDoUsuario {
    display: flex;
    height: 97vh;
    width: 93vw;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
}

.mensagem {
    font-size: 35px;
    margin-bottom: 1%;
    text-shadow: 0 3px 5px rgba(88, 55, 33, 0.616);
}

.imgf {
    margin-top: 1%;
    text-shadow: 0 15px 15px black;
}

.boxlote {
    margin-top: 20px;
    width: 170px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #AA6550;
    border: 3px outset rgb(105, 72, 50);
    color: rgb(255, 255, 255);
    margin-left: 15px;
    transition: 0.1s;
}


.boxlote:hover {
    border: 6px outset rgb(117, 74, 49);
    background-color: #AA6550;
    transition: 0.1s;
}

.lotes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 190px;

}

.nossos {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


.cada {
    height: 45vh;

}

.desc {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    font-weight: 600;
    margin-top: 1%;
}

.boxalerta {
    margin-top: 20px;
    width: 170px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    border: 1px solid black;
    color: white;
    margin-left: 15px;
}

.boxbom {
    margin-top: 20px;
    width: 170px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    margin-left: 15px;
}

.boxcuidado {
    margin-top: 20px;
    width: 170px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: yellow;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    margin-left: 15px;

}

.lotesbox {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#setor {
    font-size: 18px;
}

#setor1 {
    font-size: 18px;
}

#section_temperatura {
    display: flex;
    height: 100vh;
    width: 93vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

#section_umidade {
    display: flex;
    height: 100vh;
    width: 93vw;
    margin: auto;
}

#section_tabelas {
    display: flex;
    height: 100vh;
    width: 93vw;
    margin: auto;
    position: fixed;
}

#section_areaDoUsuario h1 {
    width: fit-content;
    margin: auto;
}

#section_tabelas h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

#textboxTemp {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

#textboxUmi {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

#tempo {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: white;
    font-weight: 500;
    flex-direction: column;
}

#tempo1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: white;
    font-weight: 500;
    flex-direction: column;
}

.fazenda {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: rgb(255, 255, 255);
    font-size: 16px;
    flex-direction: column;
    font-weight: 500;
    border: 1px solid black;

}

#tempData {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: rgb(255, 255, 255);
    font-size: 20px;
    flex-direction: column;
}

.newTemp {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#umiData {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: rgb(255, 255, 255);
    font-size: 17px;
    flex-direction: column;
}

.newUmi {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.principal {
    font-size: 25px;
    justify-content: center;
    display: flex;

}

#alertas {
    width: 115%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#alertasU {
    width: 115%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulotemp {
    font-size: 30px;
    margin-bottom: 20px;
}

.titulograf {
    margin-top: 30px;
    margin-right: 100px;
    width: 480px;
    margin-bottom: 5px;
}

#iconTemp {
    color: rgb(255, 255, 255);

}

#iconUmi {
    color: rgb(255, 255, 255);

}

.icon {
    font-size: 30px;
    cursor: pointer;
}

.icon:hover {
    font-size: 40px;
}

.icon1 {
    font-size: 22px;

}

#dadosTabela {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

#dadosTabela th,
#dadosTabela td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#dadosTabela th {
    background-color: #263238;
    color: #fff;
}

.legenda {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 95px;
}

.legendaicones {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 70px;
    margin-right: 5%;
}

.temp {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}

.tempe {
    margin-bottom: 3%;
}

.legendacores {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5%;
}

.branco {
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-weight: 500;
    color: #000000;
    width: 100%;
    margin-bottom: 2%;
}

.amarelo {
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-weight: 500;
    color: #000000;
    width: 240px;
    margin-bottom: 2%;
}

.vermelho {
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-weight: 500;
    color: #000000;
    width: 100%;
}

.corb {
    width: 17px;
    height: 17px;
    background-color: white;
    display: block;
    margin-right: 1%;
    border: 1px solid black;
}

.cora {
    width: 17px;
    height: 17px;
    background-color: yellow;
    display: block;
    margin-right: 1%;
    border: 1px solid black;
}

.corv {
    width: 17px;
    height: 17px;
    background-color: red;
    display: block;
    margin-right: 1%;
    border: 1px solid black;
}

.divSelect {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
}

#loteEspecifico {
    border-radius: 5px;
    background-color: #263238;
    color: white;
    font-weight: 600;
    height: 30px;
    font-size: 16px;
}

.grafico-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.grafico-item {
    flex: 1 1 80%;
    /* Faz com que cada item tenha pelo menos 45% do espaço disponível */
    min-width: 300px;
    /* Define uma largura mínima para cada gráfico */
}

.grafico-item canvas {
    width: 100%;
    /* Faz com que os gráficos se ajustem à largura do contêiner */
    height: auto;
    /* Mantém a proporção dos gráficos */
}

#section_ajuda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
}

#container-ajuda {
    width: 50%;
    background-color: #AA6550;
    margin: auto;
    /* Centraliza horizontalmente */
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    margin-top: 0;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    resize: none;
}

.botaoAjuda {
    background-color: #a17f6c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#session_dashboard {
    width: 100%;
}

.botaoAjuda:hover {
    background-color: #45a049;
}

#resposta {
    margin-top: 20px;
}

.botoes-download {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.botao-download {
    background-color: #a17f6c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 10px;
    /* Espaçamento entre os botões */
}

.botao-download:hover {
    background-color: #a17f6c;
}

.botao-download i {
    margin-right: 5px;
    /* Espaçamento entre o ícone e o texto */
}

.titulo-ajuda {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* Espaçamento entre o título e o conteúdo abaixo */
}

.titulo-ajuda h2 {
    text-align: center;
    /* Centraliza o texto */
}