@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex; 
    height: 100vh; 
    font-family: 'Inter', sans-serif; 
}



.esquerda {
    background-color: #B7A19A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.logo,
.vetor {
    margin: 14px 0; 
}


.direita {
    
    background-color: #AA6550;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.formulario {
    width: 80%;
    height: 72%;
    background-color: #263238;
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
}

.formulario h2 {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    margin-top: 55px;
}

.formulario p {
    font-size: 15px;
    color: #A9A9AC;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.campo {
    margin-bottom: 20px;
    text-align: left;
}

.campo label {
    display: block;
    font-size: 15px;
    color: #fff;
    margin-bottom: 5px;
}

.campo input {
    width: 93%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    
}
.botao {
    width: 310px;
    height: 60px;
    background-color: #AA6550;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(170, 101, 80, 0.5); /* Adicionando drop shadow */
    box-shadow: 4px 4px 4px rgba(170, 101, 80, 0.5); /* Adicionando drop shadow */
    padding: 0; /* Removendo o padding */
    margin: 0; /* Removendo a margem */
    line-height: 65px; /* Definindo a mesma altura da linha que a altura do botão */
    cursor: pointer;
}

.registre-se {
    font-size: 16px;
    color: #fff;
}

.registre-se a {
    color: #AA6550;
    text-decoration: none;
}

.registre-se a:hover {
    text-decoration: underline;
}
#div_paiAlertas{
    display: none;
    width: 200px;
    height: 75px;
    background-color:#fff;
    border-radius: 10px;
    border: solid 2px #ff0000;
    justify-content: flex-start;
}

#div_alertasValidacao{
    color: #FF0000;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#empresa{
    background-color: white;
    color: gray;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    height: 40px;
}

