@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* Aplicando a fonte Inter */
}

body {
    display: flex;
    min-height: 100vh;
    background: rgb(209, 176, 166);
    background: linear-gradient(180deg, rgb(204, 183, 177) 2%, rgb(151, 129, 123) 86%);
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
    width: 100%;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    width: 0;
    /* Largura zero para ocultar a barra de rolagem vertical */
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #151718;
    height: 100vh;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 11%;
}

#user_infos {
    display: flex;
    flex-direction: column;
    color: white;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #AA6550;
}

.active {
    background-color: #AA6550;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: white;
    margin-left: 18%;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #AA6550;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.fade {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#section_areaDoUsuario {
    display: flex;
    height: 97vh;
    width: 93vw;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
}

#section_areaDoUsuario::-webkit-scrollbar {
    width: 0;
    /* Largura zero para ocultar a barra de rolagem vertical */
}




.mensagem {
    font-size: 45px;
    margin-bottom: 1%;
    text-shadow: 0 3px 5px rgba(88, 55, 33, 0.616);
}

/* .imgf {
    margin-top: 1%;
    text-shadow: 0 15px 15px black;
} */

.boxlote {
    margin-top: 4%;
    width: 200px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #c49e89d7;
    border: 3px outset rgb(105, 72, 50);
    color: rgb(0, 0, 0);
    margin-left: 15px;
    transition: 0.1s;
    box-shadow: 2px 2px 10px black;
    font-weight: bold;
}


.boxlote:hover {
    border: 6px outset rgb(117, 74, 49);
    background-color: #a57e68d7;
    transition: all 0.1s;
}

.lotes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 190px;

}

.desc {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    font-weight: 700;
    margin-top: 5%;

}

.boxalerta {
    margin-top: 20px;
    width: 180px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    border: 1px solid black;
    color: white;
    margin-left: 15px;
    box-shadow: 4px 4px 6px black;
}

.boxbom {
    margin-top: 20px;
    width: 180px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #00ff00;
    border: 1px solid black;
    color: black;
    margin-left: 15px;
    box-shadow: 4px 4px 6px black;
}

.boxcuidado {
    margin-top: 20px;
    width: 180px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: yellow;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    box-shadow: 4px 4px 6px black;

}

.lotesbox {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#setor {
    font-size: 22px;
}

#section_temperatura {
    display: flex;
    height: 100vh;
    width: 93vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

#section_umidade {
    display: flex;
    height: 100vh;
    width: 93vw;
    margin: auto;
}

#section_tabelas {
    display: flex;
    height: 100vh;
    width: 93vw;
    margin: auto;
    position: fixed;
}

#section_areaDoUsuario h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 2%;
}

#section_tabelas h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

#textboxTemp {
    width: 290px;
    height: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0.75%;
    font-size: 20px;
    padding: 2px;
}

#textboxUmi {
    width: 290px;
    height: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0.75%;
    font-size: 20px;
    padding: 2px;
}

.fazenda {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: rgb(255, 255, 255);
    font-size: 20px;
    flex-direction: column;
    font-weight: 500;
    border: 1px solid black;
    box-shadow: 5px 5px 8px black;
}

.hoje {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

/* .parametrosTotal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
} */

.parametroU{
    border: 1px solid black;
    width: 48vw;
    height: 44px;
    background: linear-gradient(to right, 
                rgba(255, 0, 0, 0.75),  
                rgba(255, 255, 0, 0.75), 
                rgba(0, 255, 0, 0.75),  
                rgba(255, 255, 0, 0.75), 
                rgba(255, 0, 0, 0.75)
            );
    margin-bottom: 3.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.parametroT{
    border: 1px solid black;
    width: 48vw;
    height: 44px;
    background: linear-gradient(to right, 
    rgba(255, 0, 0, 0.75),
    rgba(255, 255, 0, 0.75),
    rgba(0, 255, 0, 0.75),
    rgba(255, 255, 0, 0.75),
    rgba(255, 0, 0, 0.75)
);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

#tempo {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: white;
    font-weight: 500;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 5px 5px 8px black;
}

#clima {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: white;
    font-weight: 500;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 5px 5px 8px black;
}


.historico {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AA6550;
    color: white;
    font-weight: 500;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 5px 5px 8px black;
}


.principal {
    font-size: 25px;
    justify-content: center;
    display: flex;

}

.alertas {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.boxAlertasLegenda {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    gap: 3%;
}

.titulotemp {
    font-size: 30px;
    margin-bottom: 20px;
}

.titulograf1 {
    margin-top: 1%;
}

#iconTemp {
    color: rgb(255, 255, 255);

}

#iconUmi {
    color: rgb(255, 255, 255);

}

.icon {
    font-size: 30px;
    cursor: pointer;
}

.icon:hover {
    font-size: 40px;
}

.icon1 {
    font-size: 22px;

}

#dadosTabela {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

#dadosTabela th,
#dadosTabela td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}

#dadosTabela th {
    background-color: #263238;
    color: #fff;
}

.titulosFlexBox {
    display: flex;
    flex-direction: row;
    margin-top: 6.5%;
    justify-content: space-around;

}

.flexBox {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: space-evenly;
}

.nossos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.cada {
    height: 45vh;
    margin-top: 2%;
}

.legenda {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 150px;
    margin-top: 1%;
    gap: 5%;
}

.legendaicones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tituloLegendas {
    margin-bottom: 2%;
    width: fit-content;
}

.temp {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    margin-top: 10%;
}

.tempe {
    margin-top: 15%;
    background-color: #d1b0a6;
    padding: 8px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    border-radius: 25px;
}

.legendacoresUmidade {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #d1b0a6;
    width: 26%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 4px 4px 7px black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.legendacores {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #d1b0a6;
    width: 26%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 4px 4px 7px black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.branco {
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-weight: 650;
    color: #000000;
    width: 100%;
    margin: 2%;
    gap: 3%;
}

.amarelo {
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-weight: 650;
    color: #000000;
    width: 100%;
    margin: 2%;
    gap: 3%;
}

.vermelho {
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-weight: 650;
    color: #000000;
    width: 100%;
    margin: 2%;
    gap: 3%;
}

.corb {
    width: 17px;
    height: 17px;
    background-color: #00ff00;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

.cora {
    width: 17px;
    height: 17px;
    background-color: yellow;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

.corv {
    width: 17px;
    height: 17px;
    background-color: red;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

.divSelect {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
    align-items: center;
    gap: 15%;
    border-radius: 8px;
}

#loteEspecifico {
    border-radius: 5px;
    background-color: #263238;
    color: white;
    font-weight: 600;
    height: 40px;
    font-size: 18px;
}

#intervaloEspecifico {
    border-radius: 5px;
    background-color: #263238;
    color: white;
    font-weight: 600;
    height: 40px;
    font-size: 18px;
}

.btnExport {
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    background-color: #263238;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.graficosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 750px;
}

.grafico-item {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grafico-item1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulograf {
    margin-top: 1%;
}

.dois {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.graficos {
    width: 50%;
    height: 100%;
}

#dht11Umidade {
    margin-top: 2%;
    background-color: #cfb09b;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px black;
}

#lm35Temperatura {
    margin-top: 2%;
    background-color: #cfb09b;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px black;
}

#gauge {
    height: 282px;
    width: 290px;
    background-color: #cfb09b;
    border-radius: 15px;
    box-shadow: 5px 5px 8px black;
    margin-bottom: 0.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gauge2 {
    height: 282px;
    width: 290px;
    background-color: #cfb09b;
    border-radius: 15px;
    box-shadow: 5px 5px 8px black;
    margin-bottom: 0.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloGauge {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8%;
}

.parametros {
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-bottom: 10%;
    gap: 53%;
    width: 100%;
    font-weight: bold;
}

.alertasDIV {
    width: 9.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#section_ajuda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 93vw;
    position: fixed;
    margin: auto;
}

#container-ajuda {
    width: 50%;
    background-color: #AA6550;
    margin: auto;
    /* Centraliza horizontalmente */
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    margin-top: 0;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    resize: none;
}

.botaoAjuda {
    background-color: #a17f6c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#session_dashboard {
    width: 100%;
}




#resposta {
    margin-top: 20px;
}

.botoes-download {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.botao-download {
    background-color: #a17f6c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 10px;
    /* Espaçamento entre os botões */
}

.botao-download:hover {
    background-color: #a17f6c;
}

.botao-download i {
    margin-right: 5px;
}

.titulo-ajuda {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo-ajuda h2 {
    text-align: center;
    /* Centraliza o texto */
}