@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; /* Aplicando a fonte Inter */
    display: flex;
    flex-direction: row;
}
/* 
.pai {
    display: flex; /* Tornando o pai um flex container */
    
    /* flex-direction: row; */
/* } */ 

.esquerda {
    /* flex: 1; /* A div esquerda ocupará metade do espaço disponível */
    background-color: #B7A19A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.logo,
.vetor {
    margin: 14px 0; /* Espaçamento entre as imagens */
}

.direita {
    
    background-color: #AA6550;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}



.formulario {
    width: 80%;
    height: 90%;
    background-color: #263238;
    padding: 20px;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
}


.formulario h2 {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    /* margin-top: -1px; */
}

.formulario p {
    font-size: 15px;
    color: #A9A9AC;
}

.campo {
    margin-bottom: 13px;
    text-align: left;
}

 .campo label {
    display: block;
    font-size: 15px;
    color: #fff;
    margin-bottom: 2px;
}
.inputs{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}


.campo input {
    width: 93%;
    height: 13px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;

}

.botao {
    width: 280px;
    height: 50px;
    background-color: #AA6550;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(170, 101, 80, 0.5); 
    box-shadow: 4px 4px 4px rgba(170, 101, 80, 0.5); 
    padding: 0; 
    margin: 0; 
    line-height: 65px; 
    cursor: pointer;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

.registre-se {
    font-size: 16px;
    color: #fff;
}

.registre-se a {
    color: #AA6550;
    text-decoration: none;
}

.registre-se a:hover {
    text-decoration: underline;
}

#div_paiAlertas{
    display: none;
    width: 200px;
    height: 75px;
    background-color:#fff;
    border-radius: 10px;
    border: solid 2px #ff0000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div_alertasValidacao{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #FF0000;
    text-align: center;
    height: 100%;
}


.documento {
   
    display: flex;
    align-items: center; 
}

.documento select {
    margin-left: 10px; 
    border-radius: 60px;
    background-color: #AA6550;
    color: #fff;
    width: 65px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}
