@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0 5%;
    background-image: url(../SiteKarpo/assets/algodao.png);
    background-repeat: no-repeat;
    background-color: #241a11;
    background-size: cover;
    /* ou background-size: contain; dependendo da preferência */
    font-family: 'Inter', sans-serif;
    /* Aplicando a fonte Inter */
    overflow-y: scroll;
    height: 119vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;

}

#logo-karpos img {
    margin-left: auto;
    /* Espaçamento da esquerda */
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #DBEAEC;
    /* Cor do texto do menu */
    margin: 0 49px;
    /* Espaçamento entre os itens do menu */
}

#social-medias img {
    margin-right: auto;
    /* Espaçamento da direita */
}
/* Estilos para a página de contato */
.pagina-contato {
    width: 1029px;
    margin: 40px auto 20px;
    margin-top: -8vh;
}
.container {
    display: flex;
    height: 100%;
}
.boxSimulacao {
    display: flex;
    flex-wrap: wrap;
}

.cartoes {
    flex: 1;
    width: 50%;
    margin-right: 10px; /* Espaço entre os elementos */
}

.grafico-container {
    flex: 1;
    width: 50%;
    margin-left: 10px; /* Espaço entre os elementos */
}

#myChart {
    width: 100%;
    height: auto;
}

.logo-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-contato img {
    max-width: 80%;
    max-height: 80%;
}

.esquerda {
    position: relative;
    width: 45%;
    background-color: #B7A19A;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.direita {
    flex: 1;
    background-color: #DBB19B;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.input-container {
    position: relative;
    margin-bottom: 13px;
}

.currency {
    position: absolute;
    left: 10px;
    top: 60%;
    transform: translateY(-50%);
    color: #333;
}

#resultadoSimulacao {
    width: 50%;
    max-width: 900px;
    height: auto;
    background-color: #DBB19B;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 50px 50px #b99a7933;
    border: 4px solid #4A403A;
    outline: 8px solid #DBB19B;
    border-radius: 40px;
    padding: 20px;
    display: none;
    margin-top: 10vh;
}

#resultadoSimulacao.ativa {
    display: block;
    opacity: 1;
    margin-top: -9vh;
}

.conteudo-contato.ativa {
    display: none;
}

label {
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.input {
    width: 425px;
    height: 62px;
    border-radius: 10px;
    border: 2px solid #c4a38c;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.input:hover,
.input:focus {
    border-color: #140e0e;
}

.textarea {
    width: 448px;
    height: 159px;
    border-radius: 10px;
    border: 0px solid #000000;
    padding: 10px;
    resize: none;
}

.titulo {
    font-size: 60px;
    font-weight: medium;
    text-align: center;
    margin-bottom: 26px;
    color: #DBEAEC;
}

.subtitulo {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 26px;
    color: #DBEAEC;
}

.botaoSimular {
    background-color: #a17f6c;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #B7A19A;
    cursor: pointer;
    width: 200px;
    height: 60px;
    color: #DBEAEC;
    font-family: Georgia;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.botaoSimular:hover {
    background-color: rgba(168, 127, 115, 0.788);
}

.conteudoSimulacao {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.fecharSimulacao {
    margin-top: 20px;
    padding: 10px 40px;
    background-color: #a17f6c;
    border: 1px solid #DBB19B;
    color: #dad7d5;
    font-weight: bold;
    cursor: pointer;
    border-radius: 70px;
}

.fecharSimulacao:hover {
    background-color: #a17f6cd7;
    color: #e6d7cf;
}