
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url(../SiteDashboard/assets/background-Dash.jpg);
    background-repeat: no-repeat;
    background-color: #AA6550;
    background-size: cover; /* ou background-size: contain; dependendo da preferência */
    font-family: 'Inter', sans-serif; /* Aplicando a fonte Inter */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 100px; /* Espaçamento do cabeçalho */
    justify-content: space-around;
}

#logo-karpos img {
    margin-left: auto; /* Espaçamento da esquerda */
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #FFFFFF; /* Cor do texto do menu */
    margin: 0 49px; /* Espaçamento entre os itens do menu */
}

#social-medias img {
    margin-right: auto; /* Espaçamento da direita */
}

#botao-registrar{
    background-color: #AA6550;
    border-radius: 10px;
    border-color: #AA6550;
    color: #FFFFFF;
    border: none;
    width: 107px;
    height: 32px;
}

#botao-login{
    background-color: #AA6550;
    border-color: #AA6550;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    width: 107px;
    height: 32px;
}

.container1{
    display: flex;
    width: 500px;
    color: #FFFFFF;
    flex-direction: column;
    margin-left: 145px;
}

.saiba-mais{
    margin-top: 50px;
    background-color: #b7a19a;
    color: #FFFFFF;
    border-radius: 6px;
    width: 147px;
    height: 50px;
    border: none;
}
#entrar{
    text-decoration: none;
    color: #FFFFFF;
}

#registro{
    text-decoration: none;
    color: #FFFFFF;
}


